@import 'utils';

a {
  color: $color-primary;

  &:visited { color: $color-positive; }
  &:hover {
    text-decoration: underline;
    color: $color-primary-light;
  }
  &:active {
    text-decoration: underline;
    color: $color-primary-dark;
  }
}

button {
  margin: 8px;
  padding: 8px;
  background-color: $color-secondary-dark-desaturated;
  border: outset 4px $color-secondary-dark;

  font-size: 150%;

  &:hover {
    background-color: $color-secondary-light-desaturated;
    border-color: $color-secondary-light;
  }

  &:active {
    border-style: inset;
  }
}

label {
  font-size: 125%;

  div {
    font-weight: bold;
    text-align: center;
  }
}

input {
  margin: 8px;
  padding: 8px;

  font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25em;

  font-family: $font-secondary;
  font-weight: normal;
  text-align: left;

  a {
    text-decoration: none;

    &:visited { color: $color-positive; }
    &:hover { color: $color-primary-light; }
  }
}

h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 180%; }
h4 { font-size: 160%; }
h5 { font-size: 140%; }
h6 { font-size: 120%; }

p {
  margin: 16px 8px 16px 28px;
}

ul, ol {
  padding-left: 64px;
}

li {
  ol & { list-style-type: decimal-leading-zero; }
  ul & { list-style-type: disc; }
}

blockquote {
  margin: 8px 64px;
  padding: 8px;
  border: solid 2px $color-secondary-dark;
  background-color: $color-secondary-dark-desaturated;
  color: $color-negative;

  p { margin: 16px; }

  blockquote {
    margin: 8px;
    background-color: $color-negative;
    color: $color-positive;
  }
}

hr {
  margin: 40px auto;
  width: 80%;

  border-top: 1px solid $color-primary-dark;
}

.section {
  display: block;
  margin: 16px;
  padding: 16px;
  border: 2px solid $color-primary-dark-desaturated;
  border-top: 0px;
  border-left: 0px;
}

.align {
  position: relative;
  overflow: hidden;

  .outer {
    float: left;
    position: relative;
    left: 50%;

    .inner {
      position: relative;
      left: -50%;
    }
  }
}

.filled-parent {
  position: relative;

  .fill-parent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

noscript {
	text-align: center;
}

.main-menu {
  align-items: center;
}