@import 'utils';

* {
  margin: 0px;
  padding: 0px;
  border: none;
}

html {
  background-color: $color-negative-off;
  color: $color-positive;
  font-family: $font-primary;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
  display: block;
  margin: 0px;
  padding: 4px;

  text-decoration: none;
  color: $color-positive;

  &:hover {
    background-color: $color-negative-highlight;
  }

  &:active {
    background-color: $color-negative-standout;
  }
}

#main {
  position: relative;
  margin: 0px auto -2em;
  padding: 0px 0px;
  width: 640px;
  min-height: 800px;
  overflow: auto; // prevent margin collapsing
  background-color: $color-negative;

  #main-header {
    text-align: center;
    
    span {
      font-family: $font-secondary;
      
      padding: 0.2em 1em;
      background-color: $color-negative-off;
      font-size: 200%;
    }
  }
}

#footer {
  margin: 40px auto 10px;
}

#main {
  display: flex;
  flex-direction: column;
  flex: auto 1 1;
  margin: 0px 32px;
  height: auto!important;
  width: auto!important;
}

.text-adventure {
  display: flex;
  margin: 8px;
  padding: 8px;
  flex: 1 1 auto;

  font-family: Courier New, Courier, monospace;

  .panel {
    margin: 8px;
    padding: 8px;
    flex: 1 1 0;
    border: silver 3px outset;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
  }

  .no-growth {
    flex-grow: 0;
    flex-basis: auto;
  }

  .map {
    padding: 0px;
    flex: 0 1 auto;
  }
}
