@import 'utils';

* {
  margin: 0px;
  padding: 0px;
  border: none;
}

html {
  height: 100%;
  width: 100%;

  background-color: $color-negative-off;
  color: $color-positive;
  font-family: $font-primary;
}

body {
  height: 100%;
  width: 100%;
}

#header {
  display: block;
  margin: 0px;
  padding: 4px;

  a {
    text-decoration: none;
    color: $color-positive;
  }
}

#navigation {
  font-size: 75%;
  text-align: right;

  .cell {
    margin: 4px;
  }
  
  a {
    padding: 4px;

    text-decoration: none;
    color: $color-positive-faded;
  }
}

#main {
  position: relative;
  margin: 0px 8px 8px;
  padding: 4px 4px;
  
  background-color: $color-negative;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1 1 auto;
}

.minimal {
  flex: 1 1 0;
}

.no-growth {
  flex-grow: 0;
  flex-basis: auto;
}

.text-adventure {
  margin: 4px;
  padding: 4px;

  font-family: "Courier New", Courier, monospace;

  .panel {
    margin: 8px;
    padding: 8px;
    flex: 1 1 0;
    border: silver 3px outset;
  }

  .map {
    padding: 0px;
    flex: 0 1 auto;
  }
}
