$color-brightness-variance: 5%;
$color-saturation-variance: 40%;
$color-positive: #fff;
$color-positive-faded: #888;

$color-negative: #000;
$color-negative-off: #111;
$color-negative-highlight: #222;
$color-negative-standout: #444;

$color-primary: #8888ff;
$color-primary-light: lighten($color-primary, $color-brightness-variance);
$color-primary-light-desaturated: desaturate($color-primary-light, $color-saturation-variance);
$color-primary-dark: darken($color-primary, $color-brightness-variance);
$color-primary-dark-desaturated: desaturate($color-primary-dark, $color-saturation-variance);

$color-secondary: complement($color-primary);
$color-secondary-light: lighten($color-secondary, $color-brightness-variance);
$color-secondary-light-desaturated: desaturate($color-secondary-light, $color-saturation-variance);$color-secondary-dark: darken($color-secondary, $color-brightness-variance);
$color-secondary-dark-desaturated: desaturate($color-secondary-dark, $color-saturation-variance);

$font-primary: 'Courier New', Courier, monospace;
$font-secondary: 'Times New Roman', Times, serif;
$font-decorative: Arial, Helvetica, sans-serif;

